# Local environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/
server/node_modules/

# Build outputs
dist/
build/

# Protect internal documentation from being uploaded
docs/*
!docs/README.md
